<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="/css/style.css"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/81c13ee107.js" crossorigin="anonymous"></script>
        <title>Movie rental</title>
    </head>
    <body>
        <div class="nav">
            <a href="/films">Films</a>
            <a href="/customers">Customers</a>
            <a href="/rental">Rental</a>
        </div>
        {{{body}}}
    </body>
</html>